<ion-header>
  <ion-navbar color="primary-green">
    <ion-title text-center>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let conta of contas | async">
    <ion-card-header text-center>
      <b>Mesa: {{conta.mesa}}</b>
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let pedido of conta?.produtos" [hidden]="pedido.entregue">
      <!-- <ion-icon name="cart" item-start></ion-icon> -->
      {{pedido?.nome}}
    </button>
    </ion-list>
  </ion-card>
</ion-content>